<tui-island class="with-shadow">
    <h1 class="title" style="text-align: center;">Registration</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <p>
        <tui-input formControlName="firstName"> Enter your name </tui-input>
        <tui-error formControlName="firstName" [error]="[] | tuiFieldError | async"></tui-error>
    </p>
    <p>
        <tui-input formControlName="lastName"> Enter your surname </tui-input>
        <tui-error formControlName="lastName" [error]="[] | tuiFieldError | async"></tui-error>
    </p>
    <p>
        <tui-input formControlName="email"> Enter email </tui-input>
        <tui-error formControlName="email" [error]="[] | tuiFieldError | async"></tui-error>
    </p>
    <p>
        <tui-input-password formControlName="password">Enter password</tui-input-password>
        <tui-error formControlName="password" [error]="[] | tuiFieldError | async"></tui-error>
    </p>
    <p>
        <tui-input-password formControlName="confirmPassword">Enter password</tui-input-password>
        <tui-error formControlName="confirmPassword" [error]="[] | tuiFieldError | async"></tui-error>
    </p>
    <p>
        <tui-checkbox-labeled formControlName="acceptTerms">
            I agree with the
            <a tuiLink routerLink="">Terms and conditions</a>
        </tui-checkbox-labeled>
        <tui-error formControlName="acceptTerms" [error]="[] | tuiFieldError | async"></tui-error>
    </p>
    <p>
        <button tuiButton [disabled]="form.invalid">Sign Up</button>
        <button tuiButton appearance="flat" routerLink="../login" class="tui-space_left-3">Sign In</button>
    </p>
    </form>
</tui-island>