<form class="tui-form__row" [formGroup]="trackForm">
    <h4 class="tui-text_h4" style="margin: 0"
        [class.tui-skeleton]="skeletonVisible"
        [class.tui-skeleton_short]="skeletonVisible"
        [class.tui-skeleton_text]="skeletonVisible"    
    >
        Track №{{index+1}}
    </h4>
    <div class="tui-form__row tui-form__row_multi-fields">
        <div class="tui-form__multi-field">
            <tui-input formControlName="title" [class.tui-skeleton]="skeletonVisible">
                Track title
            </tui-input>
            <tui-field-error formControlName="title"></tui-field-error>
        </div>
        <div class="tui-form__multi-field">
            <tui-input formControlName="subtitle" [class.tui-skeleton]="skeletonVisible">
                Track subtitle
            </tui-input>
            <tui-field-error formControlName="subtitle"></tui-field-error>
        </div>
    </div>
    <div class="tui-form__row tui-form__row_multi-fields">
        <div class="tui-form__multi-field">
            <tui-input formControlName="artist" [class.tui-skeleton]="skeletonVisible">
                Artist
            </tui-input>
            <tui-field-error formControlName="artist"></tui-field-error>
        </div>
        <div class="tui-form__multi-field">
            <tui-input formControlName="featuring" [class.tui-skeleton]="skeletonVisible">
                Featuring
            </tui-input>
            <tui-field-error formControlName="featuring"></tui-field-error>
        </div>
    </div>
    <tui-loader [showLoader]="this.trackLoading" size="l" class="tui-space_top-6">
        <div class="tui-form__row tui-form__row_multi-fields">
            <div *ngIf="!this.trackLoading && !this.isAddMode && this.trackPath != null &&
                !this.form.get('tracks')['controls'][index].controls.trackPath.value"
                class="tui-form__multi-field"
            >
                <div class="tui-player">
                    <audio
                        #audio
                        tuiMedia
                        [src]="this.trackPath"
                        [(currentTime)]="currentTime"
                        [(paused)]="paused"
                    ></audio>
                    <button
                        tuiIconButton
                        type="button"
                        shape="rounded"
                        appearance="secondary"
                        title="Play/Pause"
                        [icon]="getIcon(index)"
                        (click)="toggleState(index)"
                    ></button>
                    <div>
                        <input
                            tuiSlider
                            type="range"
                            class="slider"
                            step="any"
                            [max]="audio.duration"
                            [value]="currentTime"
                        />
                    </div>
                </div>
            </div>
            <div class="tui-form__multi-field">
                <tui-input-files
                    *ngIf="!trackForm.controls.trackPath.value"
                    accept="audio/wav"
                    [link] = "'Choose .wav file'"
                    [label]="'of the track'"
                    [class.tui-skeleton]="skeletonVisible"
                    [formControl]="trackForm.controls.trackPath"
                    [maxFileSize]="100000000"
                    (reject)="onTrackReject($event)"
                ></tui-input-files>
                
                <tui-files class="tui-space_top-1">
                    <tui-file
                        *ngIf="trackForm.controls.trackPath.valueChanges | async as file"
                        [file]="file"
                        size="l"
                        (removed)="removeTrackFile()"
                    ></tui-file>
                
                    <tui-file
                        *ngIf="rejectedTrackFile$ | async as file"
                        state="error"
                        [file]="file"
                        (removed)="clearTrackRejected()"
                    ></tui-file>
                </tui-files>
            </div>
        </div>
    </tui-loader>
    <div class="tui-form__row tui-form__row_multi-fields">
        <div class="tui-form__multi-field">
            <tui-text-area formControlName="lyrics" [class.tui-skeleton]="skeletonVisible">
                Type a lyrics of the track
            </tui-text-area>
        </div>
    </div>
    <div class="tui-form__row tui-form__row_multi-fields between">
        <tui-checkbox-labeled
            formControlName="explicit"
            [class.tui-skeleton]="skeletonVisible"
            size="l"
            class="tui-space_bottom-3"
        >
            Track has explicit lyrics
        </tui-checkbox-labeled>
    </div>
</form>