<h1>Аккаунты</h1>
<p>All accounts from secure (admin only) api end point:</p>
<button tuiButton routerLink="add" size="m">Создать аккаунт</button>
<table class="tui-table tui-space_top-3">
    <thead>
        <tr class="tui-table__tr">
            <th class="tui-table__th"><b>Имя</b></th>
            <th class="tui-table__th"><b>Email</b></th>
            <th class="tui-table__th"><b>Роль</b></th>
            <th class="tui-table__th" style="width:10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr class="tui-table__tr" *ngFor="let account of accounts">
            <td class="tui-table__th">{{account.firstName}} {{account.lastName}}</td>
            <td class="tui-table__th">{{account.email}}</td>
            <td class="tui-table__th">{{account.role}}</td>
            <td class="tui-table__th" style="white-space: nowrap">
                <button tuiButton routerLink="edit/{{account.id}}" size="s">Изменить</button>
                <button tuiButton (click)="deleteAccount(account.id)" size="s" class="tui-space_left-2" appearance="accent" [disabled]="account.isDeleting">
                    <span *ngIf="account.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!account.isDeleting">Удалить</span>
                </button>
            </td>
        </tr>
        <tr class="tui-table__tr" *ngIf="!accounts">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>