<tui-island>
    <h1 class="title" style="text-align: center;">Forgot password?</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <p>
            <tui-input formControlName="email">Enter email</tui-input>
            <tui-field-error formControlName="email"></tui-field-error>
        </p>
        <p>
            <button tuiButton [disabled]="form.invalid">Reset</button>
            <button tuiButton appearance="flat" routerLink="../login" class="tui-space_left-3">Cancel</button>
        </p>
    </form>
</tui-island>