<tui-island>
    <h1 class="title" style="text-align: center;">Забыли пароль?</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <p>
            <tui-input formControlName="email">Введите email</tui-input>
            <tui-field-error formControlName="email"></tui-field-error>
        </p>
        <p>
            <button tuiButton [disabled]="form.invalid">Восстановить</button>
            <button tuiButton appearance="flat" routerLink="../login" class="tui-space_left-3">Отмена</button>
        </p>
    </form>
</tui-island>