<tui-island>
    <h1 class="title" style="text-align: center;">New password</h1>
    <div *ngIf="tokenStatus == TokenStatus.Validating">
        <p>Token checking...</p>
    </div>
    <div *ngIf="tokenStatus == TokenStatus.Invalid">
        <p>Проверка токена не удалась, если срок действия токена истек, вы можете получить новый на странице <a routerLink="../forgot-password">"забыли пароль?".</a></p>
    </div>
    <form *ngIf="tokenStatus == TokenStatus.Valid" [formGroup]="form" (ngSubmit)="onSubmit()">
        <p>
            <tui-input-password formControlName="password">
                Enter pasword
            </tui-input-password>
            <tui-error formControlName="password" [error]="[] | tuiFieldError | async"></tui-error>
        </p>
        <p>
            <tui-input-password formControlName="confirmPassword">
                Confirm password
            </tui-input-password>
            <tui-error formControlName="confirmPassword" [error]="[] | tuiFieldError | async"></tui-error>
        </p>
        <p>
            <button tuiButton [disabled]="form.invalid">Reset</button>
            <button tuiButton appearance="flat" routerLink="../login" class="tui-space_left-3">Cancel</button> 
        </p>
    </form>
</tui-island>