<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="tui-row tui-row_sme">
        <div class=" tui-col_3"></div>
        <div class=" tui-col_6">
            <h3 *ngIf="isAddMode" class="tui-text_h3"
                [class.tui-skeleton]="skeletonVisible"
                [class.tui-skeleton_short]="skeletonVisible"
                [class.tui-skeleton_text]="skeletonVisible"
                style="margin-top: 0;"
            >
                Create release
            </h3>
            <h3 *ngIf="!isAddMode" class="tui-text_h3"
                [class.tui-skeleton]="skeletonVisible"
                [class.tui-skeleton_short]="skeletonVisible"
                [class.tui-skeleton_text]="skeletonVisible"
                style="margin-top: 0;"
            >
                Edit release
            </h3>
            <tui-island>
                <div class="tui-form__row tui-form__row_multi-fields">
                    <div class="tui-form__multi-field">
                        <tui-input formControlName="title" [class.tui-skeleton]="skeletonVisible">
                            Release title
                        </tui-input>
                        <tui-field-error formControlName="title"></tui-field-error>
                    </div>
                    <div class="tui-form__multi-field">
                        <tui-select formControlName="type" [class.tui-skeleton]="skeletonVisible">
                            Type
                            <input tuiTextfield placeholder="Choose release type"/>
                            <tui-data-list-wrapper
                                *tuiDataList
                                [items]="types"
                            ></tui-data-list-wrapper>
                        </tui-select>
                        <tui-field-error formControlName="type"></tui-field-error>
                    </div>
                </div>
                <div class="tui-form__row tui-form__row_multi-fields">
                    <div class="tui-form__multi-field">
                        <tui-input formControlName="subtitle" [class.tui-skeleton]="skeletonVisible">Subtitle</tui-input>
                        <tui-field-error formControlName="subtitle"></tui-field-error>
                    </div>
                    <div class="tui-form__multi-field">
                        <tui-input formControlName="artist" [class.tui-skeleton]="skeletonVisible">Artist</tui-input>
                        <tui-field-error formControlName="artist"></tui-field-error>
                    </div>
                </div>
                <div class="tui-form__row tui-form__row_multi-fields">
                    <div class="tui-form__multi-field">
                        <tui-input formControlName="featuring" [class.tui-skeleton]="skeletonVisible">Featuring</tui-input>
                        <tui-field-error formControlName="featuring"></tui-field-error>
                    </div>
                    <div class="tui-form__multi-field">
                        <tui-select formControlName="genre" [class.tui-skeleton]="skeletonVisible">
                            Genre
                            <input tuiTextfield placeholder="Choose the main genre"/>
                            <tui-data-list-wrapper
                                *tuiDataList
                                [items]="genres"
                            ></tui-data-list-wrapper>
                        </tui-select>
                        <tui-field-error formControlName="genre"></tui-field-error>
                    </div>
                </div>
                <div class="tui-form__row tui-form__row_multi-fields">
                    <div class="tui-form__multi-field">
                        <tui-select formControlName="country" [class.tui-skeleton]="skeletonVisible">
                            Country
                            <input tuiTextfield placeholder="Choose the country"/>
                            <tui-data-list-wrapper
                                *tuiDataList
                                [items]="countries"
                            ></tui-data-list-wrapper>
                        </tui-select>
                        <tui-field-error formControlName="country"></tui-field-error>
                    </div>
                    <div class="tui-form__multi-field">
                        <tui-input-date
                            formControlName="releaseDate"
                            [class.tui-skeleton]="skeletonVisible"
                            [(ngModel)]="releaseDate"
                            [min]="currentDay"
                        >
                            Choose a publishing date
                        </tui-input-date>
                        <tui-field-error formControlName="releaseDate"></tui-field-error>
                    </div>
                </div>
                <div class="tui-form__row tui-form__row_multi-fields">
                    <div *ngIf="!this.isAddMode && this.coverPath != null && !this.form.controls.cover.value" class="tui-form__multi-field">
                        <tui-island>
                            <img style="width: 100%; height: 100%" [src]="this.getFilePath(this.coverPath)">
                        </tui-island>
                    </div>
                    <div class="tui-form__multi-field">
                        <tui-input-files
                            *ngIf="!this.form.controls.cover.value"
                            accept="image/*"
                            [class.tui-skeleton]="skeletonVisible"
                            [link] = "'Choose file'"
                            [label]="'of release cover'"
                            [formControl]="this.form.controls.cover"
                            (reject)="onReject($event)"
                        ></tui-input-files>
                        
                        <tui-files class="tui-space_top-1">
                            <tui-file
                                *ngIf="this.form.controls.cover.valueChanges | async as file"
                                [file]="file"
                                size="l"
                                (removed)="removeFile()"
                            ></tui-file>
                        
                            <tui-file
                                *ngIf="rejectedFiles$ | async as file"
                                state="error"
                                [file]="file"
                                (removed)="clearRejected()"
                            ></tui-file>
                        </tui-files>
                    </div>
                </div>
                <h3 *ngIf="isAddMode"class="tui-text_h3"
                    [class.tui-skeleton]="skeletonVisible"
                    [class.tui-skeleton_short]="skeletonVisible"
                    [class.tui-skeleton_text]="skeletonVisible"
                >
                    Add track(s)
                </h3>
                <h3 *ngIf="!isAddMode" class="tui-text_h3"
                    [class.tui-skeleton]="skeletonVisible"
                    [class.tui-skeleton_short]="skeletonVisible"
                    [class.tui-skeleton_text]="skeletonVisible"
                >
                    Edit track(s)
                </h3>
                
                <ng-container *ngFor="let trackForm of tracksArray.controls; index as i">
                    <form class="tui-form__row" [formGroup]="trackForm">
                        <h4 class="tui-text_h4" style="margin: 0"
                            [class.tui-skeleton]="skeletonVisible"
                            [class.tui-skeleton_short]="skeletonVisible"
                            [class.tui-skeleton_text]="skeletonVisible"    
                        >
                            Track №{{i+1}}
                        </h4>
                        <div class="tui-form__row tui-form__row_multi-fields">
                            <div class="tui-form__multi-field">
                                <tui-input formControlName="title" [class.tui-skeleton]="skeletonVisible">
                                    Track title
                                </tui-input>
                                <tui-field-error formControlName="title"></tui-field-error>
                            </div>
                            <div class="tui-form__multi-field">
                                <tui-input formControlName="subtitle" [class.tui-skeleton]="skeletonVisible">
                                    Track subtitle
                                </tui-input>
                                <tui-field-error formControlName="subtitle"></tui-field-error>
                            </div>
                        </div>
                        <div class="tui-form__row tui-form__row_multi-fields">
                            <div class="tui-form__multi-field">
                                <tui-input formControlName="artist" [class.tui-skeleton]="skeletonVisible">
                                    Artist
                                </tui-input>
                                <tui-field-error formControlName="artist"></tui-field-error>
                            </div>
                            <div class="tui-form__multi-field">
                                <tui-input formControlName="featuring" [class.tui-skeleton]="skeletonVisible">
                                    Featuring
                                </tui-input>
                                <tui-field-error formControlName="featuring"></tui-field-error>
                            </div>
                        </div>
                        <div class="tui-form__row tui-form__row_multi-fields">
                            <div *ngIf="!isAddMode && this.trackPaths[i+1] != null &&
                                !this.form.get('tracks')['controls'][i].controls.trackPath.value" class="tui-form__multi-field">
                                <div class="tui-player">
                                    <audio
                                        #audio
                                        tuiMedia
                                        [src]="this.getFilePath(this.trackPaths[i+1])"
                                        [(currentTime)]="currentTime[i]"
                                        [(paused)]="paused[i]"
                                    ></audio>
                                    <button
                                        tuiIconButton
                                        type="button"
                                        shape="rounded"
                                        appearance="secondary"
                                        title="Play/Pause"
                                        [icon]="getIcon(i)"
                                        (click)="toggleState(i)"
                                    ></button>
                                    <div>
                                        <input
                                            tuiSlider
                                            type="range"
                                            class="slider"
                                            [max]="audio.duration"
                                            [value]="currentTime[i]"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="tui-form__multi-field">
                                <tui-input-files
                                    *ngIf="!trackForm.controls.trackPath.value"
                                    accept="audio/wav"
                                    [link] = "'Choose .wav file'"
                                    [label]="'of the track'"
                                    [class.tui-skeleton]="skeletonVisible"
                                    [formControl]="trackForm.controls.trackPath"
                                    [maxFileSize]="100000000"
                                    (reject)="onTrackReject($event, i)"
                                ></tui-input-files>
                                
                                <tui-files class="tui-space_top-1">
                                    <tui-file
                                        *ngIf="trackForm.controls.trackPath.valueChanges | async as file"
                                        [file]="file"
                                        size="l"
                                        (removed)="removeTrackFile(i)"
                                    ></tui-file>
                                
                                    <tui-file
                                        *ngIf="rejectedTrackFiles$[i] | async as file"
                                        state="error"
                                        [file]="file"
                                        (removed)="clearTrackRejected(i)"
                                    ></tui-file>
                                </tui-files>
                            </div>
                        </div>
                        <div class="tui-form__row tui-form__row_multi-fields">
                            <div class="tui-form__multi-field">
                                <tui-text-area formControlName="lyrics" [class.tui-skeleton]="skeletonVisible">
                                    Type a lyrics of the track
                                </tui-text-area>
                            </div>
                        </div>
                        <div class="tui-form__row tui-form__row_multi-fields between">
                            <tui-checkbox-labeled
                                formControlName="explicit"
                                [class.tui-skeleton]="skeletonVisible"
                                size="l"
                                class="tui-space_bottom-3"
                            >Track has explicit lyrics</tui-checkbox-labeled>
                            <button
                                *ngIf="this.tracksArray.length > 1 &&
                                    this.form.controls.type.value != 'Single'"
                                tuiButton
                                class="tui-space_left-2"
                                appearance="flat"
                                icon="tuiIconTrashLarge"
                                tuiMode="onLight"
                                type="button"
                                size="l"
                                (click)="deleteTrack(i)"
                            >Delete track</button>
                        </div>
                    </form>
                </ng-container>

                <button
                    *ngIf="this.form.controls.type.value != 'Single'"
                    tuiButton
                    appearance="secondary"
                    class="tui-space_top-3"
                    type="button"
                    size="l"
                    icon="tuiIconPlusLarge"
                    (click)="addTrack()"
                >
                    Add track
                </button>

                <div class="tui-form__buttons">
                    <button tuiButton type="submit" class="tui-form__button">Send to moderation</button>
                    <button tuiButton appearance="accent" type="button" (click)="saveAsDraft()" class="tui-form__button">Save as draft</button>
                    <button tuiButton appearance="flat" type="button" class="tui-form__button" routerLink="/releases">Cancel</button>
                </div>
            </tui-island>
        </div>
    </div>
</form>