<div class="head-title">
    <div class="left">
        <h1>Dashboard</h1>
        <ul class="breadcrumb">
            <li>
                <a href="#">Dashboard</a>
            </li>
            <li><i class='bx bx-chevron-right' ></i></li>
            <li>
                <a class="active" href="#">Home</a>
            </li>
        </ul>
    </div>
    <button
        tuiButton
        type="button"
        size="m"
        icon="tuiIconPlusLarge"
        routerLink="releases/add"
    >
        New release
    </button>
</div>

<ul class="box-info">
    <li>
        <i class='bx bx-headphone'></i>
        <span class="text">
            <h3>{{this.listenings}}</h3>
            <p>Listenings</p>
        </span>
    </li>
    <li>
        <i class='bx bxs-group' ></i>
        <span class="text">
            <h3>{{this.listeners}}</h3>
            <p>Listeners</p>
        </span>
    </li>
    <li>
        <i class='bx bxs-dollar-circle' ></i>
        <span class="text">
            <h3>${{this.sales}}</h3>
            <p>Total Sales</p>
        </span>
    </li>
</ul>

<div class="table-data">
    <div class="todo">
        <div class="head">
            <h3>Listeners</h3>
            <i class='bx bx-plus' ></i>
            <i class='bx bx-filter' ></i>
        </div>
        <tui-axes
            class="axes"
            [verticalLines]="4"
            [horizontalLines]="2"
            [axisXLabels]="axisXLabels"
        >
            <tui-line-chart
                [x]="0"
                [y]="0"
                [width]="400"
                [height]="210"
                [dots]="true"
                [value]="values"
                [filled]="true"
                [smoothingFactor]="50"
                [xStringify]="stringify"
                [yStringify]="stringify"
            ></tui-line-chart>
        </tui-axes>
    </div>
    <div class="order">
        <div class="head">
            <h3>Recent releases</h3>
            <i class='bx bx-search' ></i>
            <i class='bx bx-filter' ></i>
        </div>
        <tui-loader [showLoader]="loading" size="l">
            <table class="tui-table">
                <thead>
                    <tr class="tui-table__tr">
                        <th class="tui-table__th" style="width:10%"><b>Cover</b></th>
                        <th class="tui-table__th"><b>Release</b></th>
                        <th class="tui-table__th"><b>Status</b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tui-table__tr" *ngFor="let release of releases">
                        <td class="tui-table__th"><img [src]="this.getFilePath(release.coverPath)"></td>
                        <td class="tui-table__th"><b>{{release.artist}}
                            {{this.getFeatText(release.featuring)}}</b> - {{release.title}} <i>{{getSubtitleText(release.subtitle)}}</i></td>
                        <td class="tui-table__th"><tui-badge [status]="this.getBadge(release.status)" [value]="release.status"></tui-badge></td>
                    </tr>
                </tbody>
            </table>
        </tui-loader>
    </div>
</div>