<div class="tui-form__row tui-form__row_multi-fields">
    <div class="tui-form__multi-field">
        <tui-input formControlName="trackTitle">
            Track title
        </tui-input>
        <tui-field-error formControlName="trackTitle"></tui-field-error>
    </div>
    <div class="tui-form__multi-field">
        <tui-input formControlName="trackSubtitle">
            Track subtitle
        </tui-input>
        <tui-field-error formControlName="trackSubtitle"></tui-field-error>
    </div>
</div>
<div class="tui-form__row tui-form__row_multi-fields">
    <div class="tui-form__multi-field">
        <tui-input formControlName="trackArtist">
            Artist
        </tui-input>
        <tui-field-error formControlName="trackArtist"></tui-field-error>
    </div>
    <div class="tui-form__multi-field">
        <tui-input formControlName="trackFeaturing">
            Featuring
        </tui-input>
        <tui-field-error formControlName="trackFeaturing"></tui-field-error>
    </div>
</div>
<div class="tui-form__row tui-form__row_multi-fields">
    <div class="tui-form__multi-field">
        <tui-input-files
            *ngIf="!this.form.controls.track.value"
            accept="audio/wav"
            [link] = "'Choose .wav file'"
            [label]="'of the track'"
            [formControl]="this.form.controls.track"
            (reject)="onReject($event)"
        ></tui-input-files>
        
        <tui-files class="tui-space_top-1">
            <tui-file
                *ngIf="this.form.controls.track.valueChanges | async as file"
                [file]="file"
                size="l"
                (removed)="removeFile()"
            ></tui-file>
        
            <tui-file
                *ngIf="rejectedFiles$ | async as file"
                state="error"
                [file]="file"
                (removed)="clearRejected()"
            ></tui-file>
        </tui-files>
    </div>
</div>
<div class="tui-form__row tui-form__row_multi-fields">
    <div class="tui-form__multi-field">
        <tui-text-area formControlName="lirycs">
            Type a lyrics of the track
        </tui-text-area>
    </div>
</div>
<div class="tui-form__row tui-form__row_multi-fields">
    <tui-checkbox-labeled
        formControlName="explicit"
        size="l"
        class="tui-space_bottom-3"
    >Track has explicit lyrics</tui-checkbox-labeled>
</div>