<tui-island>
    <h1 class="title" style="text-align: center;">Новый пароль</h1>
    <div *ngIf="tokenStatus == TokenStatus.Validating">
        <p>Проверка токена...</p>
    </div>
    <div *ngIf="tokenStatus == TokenStatus.Invalid">
        <p>Проверка токена не удалась, если срок действия токена истек, вы можете получить новый на странице <a routerLink="../forgot-password">"забыли пароль?".</a></p>
    </div>
    <form *ngIf="tokenStatus == TokenStatus.Valid" [formGroup]="form" (ngSubmit)="onSubmit()">
        <p>
            <tui-input-password formControlName="password">
                Введите пароль
            </tui-input-password>
            <tui-field-error formControlName="password"></tui-field-error>
        </p>
        <p>
            <tui-input-password formControlName="confirmPassword">
                Подтвердите пароль
            </tui-input-password>
            <tui-field-error formControlName="confirmPassword"></tui-field-error>
        </p>
        <p>
            <button tuiButton [disabled]="form.invalid">Восстановить</button>
            <button tuiButton appearance="flat" routerLink="../login" class="tui-space_left-3">Отмена</button> 
        </p>
    </form>
</tui-island>