<tui-island class="with-shadow">
    <h1 class="title" style="text-align: center;">{{ 'VerifyEmail.EmailConfirmation' | translate }}</h1>
    <div *ngIf="emailStatus == EmailStatus.Verifying">
        {{ 'VerifyEmail.Verification' | translate }}
    </div>
    <div *ngIf="emailStatus == EmailStatus.Failed">
        {{ 'VerifyEmail.VerificationFailed' | translate }}
        <a routerLink="../forgot-password">"
            {{ 'VerifyEmailResetPassword' | translate }}"
        </a>
    </div>
</tui-island>