<tui-island class="with-shadow">
    <h1 class="title" style="text-align: center;">{{ 'Identity.ForgotPassword' | translate }}</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <p>
            <tui-input formControlName="email">{{ 'Identity.EnterEmail' | translate }}</tui-input>
            <tui-error
                formControlName="email"
                [error]="[] | tuiFieldError | async"
            ></tui-error>
        </p>
        <p>
            <button tuiButton [disabled]="form.invalid">{{ 'Reset' | translate }}</button>
            <button tuiButton appearance="flat" routerLink="../login" class="tui-space_left-3">
                {{ 'Cancel' | translate }}
            </button>
        </p>
    </form>
</tui-island>